<ion-menu [content]="content">
	<ion-header color="primary">
		<ion-toolbar class="menu-intern" padding>
			<div class="profile" margin-bottom text-center>
				<a menuClose (click)="openPage(profilePage, {local: true})">
					<img src="{{thumbnail}}" (error)="defaultImage($event)">
				</a>
			</div>
			<div class="data-user" text-center>
				<h2 no-margin><b>{{name}}</b></h2>
				<h5 no-margin>{{group}}</h5>
			</div>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list no-lines inset>
			<div *ngFor="let p of pages" >
				<button menuClose ion-item (click)="openPage(p.component)" *ngIf="checkPermission(p.permission)">
					<ion-icon color="dark" name="{{p.icon}}" item-left></ion-icon>
					<ion-label color="dark">{{p.title}}</ion-label>
				</button>
			</div>
		</ion-list>
		<ion-footer text-center>
			<button menuClose ion-button large color="danger" clear (click)="logout()">
				<ion-icon name="md-log-out"></ion-icon>
				<small padding-left>Sair</small>
			</button>
		</ion-footer>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>